#
# NOTE: This is the service file used in current versions of the agent (>= 2.2.55)
#
[Unit]
Description=Azure Linux Agent

After=network-online.target cloud-init.service
Wants=network-online.target sshd.service sshd-keygen.service

ConditionFileIsExecutable=/usr/sbin/waagent
ConditionPathExists=/etc/waagent.conf

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u /usr/sbin/waagent -daemon
Restart=always
Slice=azure.slice
CPUAccounting=yes
MemoryAccounting=yes

[Install]
WantedBy=multi-user.target

