#
# The project did not use flake8 since inception so there are a number
# of time-consuming flake8-identified improvements that are just a lot
# of busy work.  Each of these should be disabled and code cleaned up.
#
# W503: Line break occurred before a binary operator
# W504: Line break occurred after a binary operator
# E126: Continuation line over-indented for hanging indent
# E127: Continuation line over-indented for visual indent
# E128: Continuation line under-indented for visual indent
# E201: Whitespace after '('
# E202: Whitespace before ')'
# E203: Whitespace before ':'
# E221: Multiple spaces before operator
# E225: Missing whitespace around operator
# E226: Missing whitespace around arithmetic operator
# E231: Missing whitespace after ',', ';', or ':'
# E261: At least two spaces before inline comment
# E265: Block comment should start with '# '
# E302: Expected 2 blank lines, found 0
# E501: Line too long (xx > yy characters)
# E502: The backslash is redundant between brackets
# F401: Module imported but unused
# F403: 'from module import *' used; unable to detect undefined names
# F405: Name may be undefined, or defined from star imports: module
#

[flake8]
ignore = W503,W504,E126,E127,E128,E201,E202,E203,E221,E225,E226,E231,E261,E265,E302,E501,E502,F401,F403,F405
exclude = .git,__pycache__,docs/source/conf.py,old,build,dist,tests
max-complexity = 30
max-line-length = 120