---
os: linux
dist: xenial
language: python
env:
  - NOSEOPTS="--verbose" SETUPOPTS=""
  # Add SETUPOPTS="check flake8" to enable flake8 checks

matrix:
  # exclude the default "python" build - we're being specific here...
  exclude:
    - python:
      env:
        - NOSEOPTS="" SETUPOPTS="check flake8"

  include:
    - python: 2.6
      dist: trusty
      env:
        - NOSEOPTS="--verbose" SETUPOPTS=""
    - python: 2.7
    - python: 3.4
    - python: 3.6
    - python: 3.7
      env:
        - >-
          NOSEOPTS="--verbose --with-coverage --cover-inclusive
          --cover-min-percentage=60 --cover-branches
          --cover-package=azurelinuxagent --cover-xml"
          SETUPOPTS=""

install:
  - pip install -r requirements.txt
  - pip install -r test-requirements.txt

script:
  # future: - pylint setup.py makepkg.py azurelinuxagent/
  - nosetests $NOSEOPTS --attr '!requires_sudo' tests
  - sudo env "PATH=$PATH" nosetests $NOSEOPTS --verbose --attr 'requires_sudo' tests
  - if [ ! -z "$SETUPOPTS" ]; then /usr/bin/env python setup.py $SETUPOPTS; fi

after_success:
  - if [[ $TRAVIS_PYTHON_VERSION == 3.7 ]]; then codecov; fi