# The Azure Linux Provisioning team is interested in getting notifications
# when there are requests for changes in the provisioning agent. For any
# questions, please feel free to reach out to thstring@microsoft.com.
/azurelinuxagent/pa @trstringer
