[Unit]
Description=Microsft Azure Linux Agent (provision)
DefaultDependencies=no
Wants=network-online.target
After=network-online.target
Before=ssh.service
Conflicts=shutdown.target
ConditionVirtualization=microsoft

[Service]
Type=oneshot
ExecStart=/usr/sbin/waagent -provision
